examples/Play bundled beep compare wav and mp3.json
[
  {
    "id": "f0e1d2c3.b4a59687",
    "type": "tab",
    "label": "Bundled beep — WAV vs MP3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f1a2b3c4.d5e6f7a8",
    "type": "comment",
    "z": "f0e1d2c3.b4a59687",
    "name": "Compare formats",
    "info": "Two chains: WAV (PCM) vs MP3 (compressed).\nBundled files: examples/sounds/beep.wav and beep.mp3 (same short tone).\nDefault players: afplay for WAV, mpg123 for MP3. On macOS you can set both playa nodes to afplay — it plays MP3 too. On Linux use aplay or play for WAV and mpg123/mplayer for MP3.",
    "x": 60,
    "y": 40,
    "wires": []
  },
  {
    "id": "b2c3d4e5.f6a7b8c9",
    "type": "inject",
    "z": "f0e1d2c3.b4a59687",
    "name": "play bundled WAV",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 140,
    "wires": [["c3d4e5f6.a7b8c9d0"]]
  },
  {
    "id": "c3d4e5f6.a7b8c9d0",
    "type": "function",
    "z": "f0e1d2c3.b4a59687",
    "name": "path beep.wav",
    "func": "let home = '';\nif (typeof env !== 'undefined' && typeof env.get === 'function') {\n    home = env.get('HOME') || env.get('USERPROFILE') || '';\n}\nif (!home) {\n    node.error('Could not resolve HOME/USERPROFILE. Set msg.payload manually (see examples/README.md).');\n    return null;\n}\nmsg.payload = home + '/.node-red/node_modules/node-red-contrib-play/examples/sounds/beep.wav';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 140,
    "wires": [["d4e5f6a7.b8c9d0e1"]]
  },
  {
    "id": "d4e5f6a7.b8c9d0e1",
    "type": "playa",
    "z": "f0e1d2c3.b4a59687",
    "name": "WAV",
    "player": "afplay",
    "x": 640,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "e5f6a7b8.c9d0e1f2",
    "type": "inject",
    "z": "f0e1d2c3.b4a59687",
    "name": "play bundled MP3",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 280,
    "wires": [["f6a7b8c9.d0e1f2a3"]]
  },
  {
    "id": "f6a7b8c9.d0e1f2a3",
    "type": "function",
    "z": "f0e1d2c3.b4a59687",
    "name": "path beep.mp3",
    "func": "let home = '';\nif (typeof env !== 'undefined' && typeof env.get === 'function') {\n    home = env.get('HOME') || env.get('USERPROFILE') || '';\n}\nif (!home) {\n    node.error('Could not resolve HOME/USERPROFILE. Set msg.payload manually (see examples/README.md).');\n    return null;\n}\nmsg.payload = home + '/.node-red/node_modules/node-red-contrib-play/examples/sounds/beep.mp3';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": [["a7b8c9d0.e1f2a3b4"]]
  },
  {
    "id": "a7b8c9d0.e1f2a3b4",
    "type": "playa",
    "z": "f0e1d2c3.b4a59687",
    "name": "MP3",
    "player": "mpg123",
    "x": 640,
    "y": 280,
    "wires": [[]]
  }
]
